@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* font-family: 'Roboto Slab', serif; */
    cursor: url(Images/pngegg\ \(1\).png) 5 15, auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --bg-color: #06101f;
    --black: black;
    --sec-bg-color: #323946;
    --text-color: white;
    --main-color: #0ef;
}

html,
body {
    background: var(--bg-color) !important;
    cursor: none;
    color: var(--text-color) !important;
    overflow-x: hidden!important;
    box-sizing: border-box;

}

.itd {
    padding-right: 35px;

}

.timeline {
    background-color: #5918df;
    height: 450%;
    left: 215px;
    position: absolute;
    top: 188px;
    width: 1px;
    z-index: 9;
}
footer .row .about-sec .st-text::before{
    left: -22px;
}

.bullet {
    position: absolute;
}

.bullet::before {
    background-color: #1b191e;
    display: block;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -4px;
    top: 0;
    width: 9px;
    position: absolute;
    z-index: 10;
}

.bullet::after{
    content: 'Start_/>';
    font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
    color: #988e9f;
    font-size: 18px;
    padding-left: 16px;
    position: relative;
    top: -5px;
    font-weight: 600;
    /* z-index: -1001; */
}
.about-sec .st-text::after{
    content: "";
    display: block;
    position: relative;
    top: -11px;
    width: 350px;
    height: 1.5px;
    margin-left: 90px;
    background-color: rgb(0, 138, 173);
}

.st-text {
    font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
    color: #988e9f;
    font-size: 18px;
}

.prb-line::after{
    content: "";
    display: block;
    position: relative;
    top: -17px;
    width: 350px;
    height: 1px;
    margin-left: 320px;
    background-color: rgb(0, 138, 173);
}
.email-link{
    width: 40px;
    position: fixed;
    bottom: 1px;
    left: 30px;
    /* right: 39px; */
    z-index: 10;
    color: #a8b2d1;
}
.email-write{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email-write a{
    margin: 10px auto;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: gray;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    /* transform: rotate(180deg); */
}

.email-write a:hover{
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    color:#0ef ;
    transform: translateY(-3px);
}
.email-write::after{
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: aliceblue;
}

.navbar {

    /* background-color: transparent; */
    background-color: rgba(8 8 8 / 15%)!important;
        backdrop-filter: blur(10px);
    font-family: 'Roboto Slab', serif;
    height: 65px;
    transition: all 0.8s;
}
.navbar .navbar-brand img{
    height: 48px;
    mix-blend-mode: color-burn;
}
/* .navbar a:hover {
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 0, 0), 0 -10px 20px #00c3ff, 0 -18px 40px rgb(0, 38, 255);
} */
.navbar .navbar-nav .nav-item {
    margin: 6px;

}
.offcanvas-body{
    overflow-y: unset!important;
}


.navbar .navbar-nav .nav-item .nav-link {
    transition: 0.5s;
    color: #988e9f;
    font-size: 18px;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .active {
    color: #0ef;
}

section {
    min-height: 100vh;
    max-height: 100vh;

}

.cursor {
    position: fixed;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    margin-top: -15px;
    border-radius: 50%;
    border: 2px solid rgb(121, 145, 121);
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow {
    transform: scale(2.1);
    z-index: 10001;
    /* background: wheat; */
    mix-blend-mode: difference;
    border: 2px solid rgb(248, 248, 248);
}

.logo {
    margin-left: 88px;
    font-size: 38px !important;
    transition: all 0.3s;
}

.start-content{
    font-family: 'DM Serif Display', serif;
}


.logo:hover {
    transform: scale(1.1);
}

.aft-li {
    color: #323946;
}



.brand-span {
    color: #1877F2;
}

.home-bear {
    height: 800px;
}

.name {
    /* color: #ffffff; */
    color: #5918df;
    font-size: 60px;
    letter-spacing: 2.5px;
    /* font-weight: 600!important; */
    /* font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif; */
    font-family: DM Serif Display, serif;

}
.bt{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.txt-xhane{
    font-size: 2.65rem;
    color: #c7c7c7;
}
.home {
    display: flex;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    justify-content: center;
    align-items: center;
    background: url(Images/bg_start.jpg);
    
    /* background: #030913; */
    background-size: cover;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0;
}

.home-content {
    margin-left: 75px;
    flex-direction: column;
    height: 100vh !important;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.fyt {
    font-size: 11px;
}

.social-media {
    width: 70%;
}

.social-media ul {

    display: flex;
}

.social-media ul li {
    list-style: none;
    margin: 0 15px;
}

.social-media ul li:nth-child(1) .fa-brands:hover {
    background-color: #000000 !important;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

.social-media ul li:nth-child(2) .fa-brands:hover {
    background-color: #0037ac !important;
    box-shadow: 0 10px 14px rgba(15, 11, 235, 0.5);
    color: aliceblue;
}

.social-media ul li:nth-child(3) .fa-brands:hover {
    background-color: #1DA1F2 !important;
    box-shadow: 0 10px 14px rgba(0, 140, 255, 0.5);
    color: aliceblue;
}

.social-media ul li:nth-child(4) .fa-brands:hover {
    background-color: #e7194d !important;
    color: aliceblue;
    box-shadow: 0 10px 14px rgba(236, 61, 134, 0.5);
}

.fa-brands {
    content: "\f16d";
    transition: 0.4s;
    box-shadow: 0 10px 14px rgba(61, 72, 236, 0.5);
    font-size: 35px;
    border: 2px solid #00f3ff;
    border-radius: 50%;
    padding: 10px;
    /* background: #000; */
    color: turquoise;
}

.fa-brands:hover {
    transform: translate(0, -10px);
    background-color: aqua;
    color: #000;
}

.btnt {
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    letter-spacing: .86px !important;
    line-height: 1 !important;
    padding: 13px 30px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    background-color: rgb(0, 191, 216) !important;
    font-family: 'Roboto Slab', serif;
    position: relative !important;
    transition: 0.5s;
    border-radius: 15px;
    box-shadow: 0 0 1rem var(--main-color);
}

.btnt:hover {
    color: #292929 !important;
    background-color: var(--main-color) !important;
    transform: scale(.9);
    box-shadow: none;
    cursor: none!important;
}
/* - --------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
    .timeline{
        top: 95px;
        left: 65px;
        height: 570%!important;
    }
    .email-link{
        left: 8px;
    }
    .hello-tx{
        font-size: 20px;
        margin-top: 115px!important;
    }
    .name{
        font-size: 43px;
    }
    .txt-xhane{
        font-size: 1.75rem;
    }
    .st-p{
        font-size: 14px;
    }
    .social-media{
        width: 70%!important;
    }
    .social-media ul li a i{
        font-size: 25px!important;
    }
    .ul-social{
        padding-left: 0;
    }
    .bt{
        display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 11px!important;
    }
    #about .abt-code{
        font-size: 14px!important;
        padding-right: 63px;
    }
    #about .about-sec{
        margin-left: 12.666667%;
    }
    .st-text{
        left: 87px!important;
    }
    .portfolio .container .row .row{
        margin-left: 33px!important;
    }
    .portfolio .container .row .row .prb-line{
        font-size: 22px;
    }
    .portfolio .container .row .row .prb-line::after{
        margin-left: 234px;
        top: -15px;
    }
    .frt-col{
        height: 69%!important;
    }
    .card-featured-pro{
        max-height: unset!important;
    }
    .card-featured-pro .row{
        box-shadow: 6px 10px 15px rgb(0, 255, 234);
        width: 421px;
    }
    .card-text-frt{
        width: 323px!important;
        left: 176px!important;
        top: 119px!important;
        height: 136px!important;
        font-size: 13px!important;
    }
    .card-ftr{
        width: 70%!important;
    }
    .card-foot{
        width: 100%!important;
    }
    .card-v{
        justify-content: center;
        flex-direction: column;
        width: 519px!important;
    }
    .card-v .col{
    margin-bottom: 15px;
    }
    .card-other-pro .card-foot{
        justify-content: flex-start;
    }

    .card-other-pro .card-foot li{
     margin: 0 15px;
    }
    .sidebar .offcanvas-header{
        background: black!important;
    }

}

/* Media query for 400 ------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 400px) {
    .logo {
        margin-left: 37px;
    }
    .offcanvas{
        max-width: 75%!important;
    }
    .sidebar{
        background-color: rgba(8 8 8 / 15%)!important;
        backdrop-filter: blur(10px);
    }
    #work .container .row h3{
        left: 67px!important;
    }
    .timeline{
        top: 95px;
        left: 31px;
        height: 688%!important;
    }
    .home{
        height: 100vh;
        width: 100vw;
    }
    .about-sec{
        margin-left: 55px!important;
    }
    .home-content {
        margin-left: 20px;
        height: 92vh !important;
    }
    .card-featured-pro{
        max-height: unset!important;
    }
    .card-featured-pro .row{
        box-shadow: 6px 10px 15px rgb(0, 255, 234);
        width: 295px;
    }

    .ul-social {
        padding-left: 0;
    }
    .offcanvas-backdrop.show {
        opacity: 0.9!important;
    }
    .logo {
        font-size: 24px !important;
    }
    .email-link{
    display: none;
    }

    .hello-tx {
        font-size: 18px!important;
        margin-top: 150px!important;
    }
    #about .about-sec .st-text{
        left: 68px!important;
    }
    .cursor{
        display: none;
    }
    .name{
        font-size: 31px;
        font-weight: 700;
    }
    .txt-xhane{
        font-size: 1.65rem;
    }
    .bt{
        justify-content: flex-start;
        margin-top: 4px!important;
    }
    .social-media{
        padding: 0;
    }
    .social-media ul li a i{
        font-size: 25px;
    }
   .bullet-alt::before{
    left: -40px!important;
   }
   #about .abt-code{
    font-size: 14px!important;
   }
   .card-v .col{
    width: 335px;
    margin-left: 12px;
    height: 3px;
    min-height: 152px;
    
    margin-bottom: 19px;
    }
    .card-v{
        margin-left: 0!important;
        justify-content: center;
    flex-direction: column;
    }
    .portfolio .container .row .row{
        margin-left: 7px!important;
    }
    .card .card-body   .card-text{
        margin-bottom: 15px;
    }
    .card .card-body .card-head{
        margin-top: 0;
    }
    .ft-txt{
        margin-top: 15px;
    }
    .ft-h4{
        padding: 0!important;
        margin-top: 15px;
    }
    .ft-connect{
        margin: 15px 26%!important;
    }
    .code-ft h4{
        font-size: 20px!important;
    }
    footer .social-wrap{
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    }
    .frt-col{
        width: 344px!important;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        font-size: 23px;
    }
    .about-sec .st-text::after {
        width: 200px!important;
    }
    .sp-pro-h6{
        text-align: start!important;
    }
    .sp-pro-h4{
        text-align: start!important;
    }
    .card-text-frt{
        position: unset!important;
        width: 258px!important;
        background-color: transparent!important ;
    }
    .card-featured-pro .col-md-5 {
        height: 336px!important;
    }
    .card-featured-pro .col-md-5 .card-body{ 
        width: 338px!important;
        background-size: cover!important;
        /* background: url(Images/Sp-66@gm.png) , linear-gradient(cyan , green); */
        /* mix-blend-mode: saturation;
    filter: grayscale(50%) contrast(1) brightness(90%); */
    }
    .ft-txt-c{
        width: 90%!important;
    }
    .card-ftr{
        display: flex;
    flex-wrap: wrap;
    position: unset!important;
    
    margin: 28px 0px 11px;
    padding: 0px;
    list-style: none;
    
    width: 100%!important;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    }
    .card-foot{
        width: 100%!important;
    }
    .ftr-link{
        position: unset!important;
        text-align: end;
        /* display: inline-block; */
        bottom: 25px;
        right: unset;
        left: 175px;
    }
}
   

.ft-connect{
    margin: 8px 43%;
}
.st-p{
    max-width: 540px;
    margin-top: 25px;
    font-family: 'Roboto Slab', serif;
    color: #988e9f;
    margin-bottom: 0;
}
.hello-tx {
    font-size:24px;
    color: #64ffda;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    margin-top: 205px;
}

.down-arrow {
    background-image: linear-gradient(-180deg, #050505, #1a1527);
    bottom: 0;
    color: #988e9f;
    display: flex;
    height: 80px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 64px !important;
    z-index: 8;
}

.down-arrow span {
    left: 50%;
    position: absolute;
    top: 50%;
    font-size: 28px;
    transform: translate(-40%, -50%) rotate(90deg);
    transition: all ease 0.4s;
}

.down-arrow span:hover {
    color: purple;
}


.scroll-bottom {

    margin-left: -7px;
    position: relative;
    top: 300px;
}

.scroll-bottom svg {
    background-color: rgba(17, 15, 24, .7);
    margin-bottom: 10px;
    width: 16px;
}

.scroll-bottom svg:hover {
    transform: scale(1.2);
    transition: all ease 0.3s;
}

.scroll-bottom span {
    bottom: 0;
    color: #5918df;
    margin-top: 2px;
    font-size: 14px;
    left: -2px;
    position: absolute;
    text-shadow: 0 3px 14px #181619, 0 -3px 14px #181619, 3px 0 14px #181619, -3px 0 14px #181619, 0 3px 6px #181619, 0 -3px 6px #181619, 3px 0 6px #181619, -3px 0 6px #181619;
    transform: translate(-15px, 35px) rotate(-90deg);
    z-index: 9;
}

/* .scroll-bottom span:hover{
    transform:scale(1.2)!important;
    transition: all ease 0.3s;
 } */

.scale-hover {
    position: absolute;
    transform: scaleX(1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
}


.about-sec {
    margin-left: 244px;
    padding: 0 5px;

}

.bullet-alt {
    position: absolute;
}

.bullet-alt::before {
    background-color: #1b191e;
    display: block;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -26px;
    top: 5px;
    width: 9px;
    position: absolute;
    z-index: 10;
}
.scrolldown .navbar{
    transform: translate3d(0, -100%, 0);
}
.scrollup .navbar{
   
}

#about {
    /* background-color: #14121c; */
    background-color: #06101f;
    ;
    /* box-shadow: 0px 15px 30px -15px #000;s */
    /* box-shadow: inset 0 0 10px #f8a100; */
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 30px 6px inset;
    
}

#about::after {
    box-shadow: 0 0 80px 0 #07060a;
}

#about .abt-code {
    font-family: Roboto Mono, Courier New, Courier, monospace !important;
    font-size: 17px;
    line-height: 1.6;
}

#about .code-l {
    position: relative;
    z-index: 1;
}

#about .code-l::after {
    color: #6a57bd;
    content: attr(data-line-nr);
    font-family: Roboto Mono, Courier New, Courier, monospace !important;
    font-size: 16px;
    left: -60px;
    line-height: 1.6;
    position: absolute;
    top: 0;
    z-index: 3;
}

#about .blink-C::before {
    animation: blink .8s infinite;
    content: "|";
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}


.methods {
    color: #5918df;
}

.pname {
    color: #eeff31;
}

#about::-webkit-scrollbar {
    display: none;
}

#home::-webkit-scrollbar {
    display: none;
}


.comment {
    color: #78707e;
}

.dot {
    color: #3b3553;
}

.scope {
    color: #e3244c;
}

.prop2 {
    color: #24e394;
}

.string {
    color: #24e33a;
}

.symbol {
    color: white;
}

footer .social-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto Slab', serif;

}

footer .social-wrap svg {
    margin-right: 9px;
    margin-top: -4px;
    width: 22px;
    fill: #5918df !important;
}

footer .social-wrap .footer-link {
    text-decoration: none;
    color: #5918df;
    font-size: 17px;
}

footer .copy-right {
    /* bottom: -1470px; */
    color: #988e9f;
    font-family: Roboto Mono, Courier New, Courier, monospace !important;
    font-size: 14px;
    padding-left: 20px;
    /* position: absolute; */
}

.fa-regular {
    font-size: 29px;
    color: #64ffda;
}

.fa-solid {
    font-size: 17px;
    color: #ffffff;
}

.card-v {
    width: 1070px;
    margin-left: 138px ;
}
.portfolio .container .row .row{
    margin-left: 138px;
}
.card {
    background: #112240 !important;
    height: 100%;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.card-body {
    font-family: 'Roboto Slab', serif;
}

.card-text {
    color: #a8b2d1;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-bottom: 55px ;
}

.card-other-pro:hover {
    transform: translateY(-10px);
}

.card:hover .card-title {
    color: #00f3ff !important;
}

.feather:hover {
    color: #00f3ff;
    transition: all .5s ease-in-out;
}

.card-title {
    color: white !important;
    transition: all .5s ease-in;

}

.card-head {
    display: flex;
    justify-content: space-between;
    padding: 13px 8px;
    margin-top: 10px;
    align-items: center;
}

.card-foot {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    color: #8892b0;
    font-size: 12.5px;
}

.feather {
    height: 22px;
    width: 22px;
    color: white;
}

#work{
    background-color: #030913;
}

.card-featured-pro{
    background-color: transparent!important;
    max-width: 960px!important;
     max-height: 400px;
}
.frt-col{
    width: 100%;
    height: 100%;
    background-color: #64ffda;
}
.frt-img:hover{
    mix-blend-mode: normal;
    filter: none;
}
.frt-img{
    
    
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    vertical-align: middle;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.card-text-frt{
    display: block;
    z-index: 2;
    position: absolute;
    width: 476px;
    left: 466px;
    top: 127px;
   box-shadow:0 10px 30px -15px rgba(2,12,27,0.7) ; 
   background-color: #112240;
   color: #a8b2d1;
   font-size: 15px;
   transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.card-text-frt:hover{
    box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);
}
.sp-pro-h6{
    text-align: end;
    color: #0dcaf0;
    margin-top: 21px;
}

.sp-pro-h4{
    text-align: end;
    color: #000;
    margin-top: 11px;
    margin-bottom: 7px;
}
.card-ftr{
    /* display: flex; */
    flex-wrap: wrap;
    position: absolute;
    right: 9px;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
    bottom: -18px;
    width: 40%;
}

.ftr-link{
    position: absolute;
    bottom: -40px;
    right: 23px;
}

.lft-contact-foot{
    font: 400 18px "Times New Roman", Times, serif;
}

footer .st-text::after{
    height: 0!important;
}
.ft-txt{
    font: 400 25px "Times New Roman", Times, serif;
    color: #00f3ff;
    
}

.ft-h1{
    /* font-family: DM Serif Display serif; */
    /* font-family: Public Sans sans-serif; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-size: 55px;
    font-weight: 700;
}



#contact{
    background-color: #06101f;
}

.ft-btn{
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1.75rem;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    margin-top: 50px;
}

.ft-btn:hover{
    /* color: #06101f;
    background-color: #00f3ff; */
    outline: none;
    box-shadow: 6px 6px 6px 0 teal;
    transform: translate(-10px);
}

.bg-modal{
    /* background-color:rgba(0, 0, 0, 0.5)!important ; */
    background-color: #000!important;
    backdrop-filter: blur(5px)!important;
    border-top: 1px solid turquoise!important;
    border-left: 1px solid turquoise!important;
    /* box-shadow: 6px 6px 6px 0 teal; */
    box-shadow: inset 0 -1em 1em rgba(0, 255, 221, 0.377),
     /* 3px 3px 20px 3px rgb(32, 196, 218), */
    6px 6px 6px rgba(0, 0, 0, 0.3);
    /* -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px); */
    
}
.form-control{
    color: #0ef!important;
    background-color: transparent!important;
}
.form-control::-webkit-input-placeholder {
    color: rgb(255, 255, 255)!important;
  }


  .hth{
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    margin: auto;
  }

  .modal-body{
    background-color:#06101f ;
  }

  .modal-header{
    background-color: #0d1218;
  }

.frm-btn:hover{
  background: #00f3ff!important;
  border:1px solid #000000!important;
  color: #000000!important;
  
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);


}  

.frm-btn{
    background: #000000!important;
    font-family: cursive!important;
    border:1px solid #00f3ff!important;
    color: #00f3ff!important;
}
.frm-cls{
    background: #00f3ff!important;
  border:1px solid #000000!important;font-family: cursive!important;
  color: #000000!important;
}

.frm-cls:hover{
    background: #000000!important;
    
    border:1px solid #00f3ff!important;
    color: #00f3ff!important;
}